{% extends 'base/site.html' %}
{% load static %}


{% block content %}

<script type="text/javascript">
	var preguntas_url = '{% url "questions_fake_endpoint" %}'
	var calificar_url = '{% url "calificar_fake_endpoint" %}'
</script>
<script src="{% static "js/cuestionario/cuestionarioModel.js" %}"></script>
<script src="{% static "js/cuestionario/cuestionario.js" %}"></script>

{% if error %}

<h2>Error, no puedes dejar ninguna pregunta en blanco</h2>

{% endif %}

<center>
	<h2 style="font-weight: bold;" class="text-white">Cuestionario sobre tipos de aprendizaje</h2>
	<form action="javascript:sendAnswers()">
		<div data-bind="foreach: preguntas">
			<p style="color: black; font-size: 15px; font-style:bold;" data-bind="text: $data"></p>
			<input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="1"><p style="color: black; display: inline;">Nunca</p></input>
			<input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="2"><p style="color: black; display: inline;">Raramente</p></input>
			<input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="3"><p style="color: black; display: inline;">Ocasionalmente</p></input>
			<input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="4"><p style="color: black; display: inline;">Usualmente</p></input>
			<input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="5"><p style="color: black; display: inline;">Siempre</input>
		</div>
		<br>
		<input type="submit" class="btn btn-primary">
	</form>
</center>


{% endblock %}